.articles-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;

}

.tchat {
  background-color: #475373;
  height: 100%;
  width: 100%;
  
}

.article {
  /* flex: 30%; */
  /* margin: 1rem ; */
  
  cursor: pointer;
}

/* .article:hover .img-container {
  transform: scale(1.1);
} */

.article h2 {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
}

/* .img-container {
  transition: transform 1s;
} */
/* .category-content{
    display: flex;
} */
.category-content h2 {
  font-size: 1.6rem;
  /* padding: 0 1rem; */
  text-align: center;
}

.main-category-container {
  display: flex;
  flex-flow: row;
}

.category-container {
  display: flex;
  flex-direction: column;
  background-color: #95afc0;
  height: 1500px;
  width: 200px;
  margin: 0;
}



.category-container a {
  color: white;
  text-decoration: none;
}

.category-container li {
  margin: 1rem 0;
  transition: color 0.2s;
  font-size: 30px;
}

.category-container li:hover {
  color: var(--primary);
  cursor: pointer;
}

.cat-active {
  color: var(--primary);
  font-weight: 700;
}

.article.block {
  background-color: black;
}

.content {
  background-color: #ffffff;
  justify-content: space-between;

}

.profil {
  height: 1500px;
  width: 200px;
  background-color: #eb2f06;
}

.article-content {
  color:white;
}



@media screen and (max-width:500px) {
  
  * {
    overflow-x: hidden;
  }

  .category-container {
    height: auto;
    width: 100%;
}
}