:root {
  --primary-color: #007fc1;
  --secondary-color: #f5333d;
  --tertiary-color: #ffd14a;
  --quaternary-color: #000000;
  --seventies-color-1: #f5c600;
  --seventies-color-2: #d8460b;
  --seventies-color-3: #c21703;
  --seventies-color-4: #9b4923;
  --seventies-color-5: #007191;
  --text-color: #f8eee1;
  --text-color-light: #ff4757;
  --danger: #ea2027;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  font-size: 1.6rem;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #202225;
}



.tchat-container {
  width: 80%;
  height: 95vh;
  display: flex;
  background-color: #36393f;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.online-container {
  width: 12%;
  height: 95vh;
  display: flex;
  background-color: #2f3136;
  border-top-left-radius: 30px;
  justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.text-container {
  width: 98%;
  height: 85vh;
  display: flex;
  color: var(--text-color);
  overflow: scroll;
  overflow-x: hidden;
  flex-direction: column;
}

.input-container {
  width: 98%;
  height: 5vh;
  display: flex;
  background-color: #2a272a;
  border-radius: 20px;
  justify-content: center;
}

a {
  color: var(--text-color);
}

h1 {
  color: var(--text-color);
}

span h2 {
  font-size: 1.6rem;
}
span h3 {
   color: #818fa0;
  font-size: 1rem;
}
span {
  color: #ffffff;
  font-size: 1.2rem;
  display:flex ;
}


form {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control {
  display: flex;
  width: 90%;
  height: 4.5vh;
}

textarea {
  width: 100%;
  background-color: #2a272a;
  color: var(--text-color);
  font-size: 1rem;
  border-style: none;
  border-color: transparent;
  overflow: auto;
}

.all-category {
  font-size: 2rem;
  width: 100%;
  height: 3rem;
  border-bottom: #202225 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}


.online {
  font-size: 2rem;
  width: 100%;
  height: 3rem;
  border-bottom: #202225 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 30px;
}

div::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
  background: #2f3136; /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  background-color: #202225; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #2f3136; /* creates padding around scroll thumb */
}

textarea::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

textarea::-webkit-scrollbar-track {
  background: #2f3136; /* color of the tracking area */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #202225; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #2f3136; /* creates padding around scroll thumb */
}

.moodsound {
  height: 100vh;
  display: flex;
  color: gainsboro;
}

.date {
  font-size: 0.8rem;
  color: #A7AAB1;
}

.tchat {
  display: flex;
  flex-direction: column;
}

.input-mood-container {
  width: 98%;
  height: 5vh;
  display: flex;

  
  justify-content: center;
}

.mood {
display: flex;
flex-direction: column;
    align-items: center;
}

.form-control {
  height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.username_date {
  display: flex;
  width: 32%;
  justify-content: space-between;
}

.sound {
  align-items: center;
}
